html,body{
    color: #000;
}
.lni{
    font-size: 64px;
}

.bg{
    background: linear-gradient(to right, #ffbd70 0%, #9e5500 100%) !important;
    
}

.regform{
    box-shadow: 0px 8px 9px 0px rgba(69, 69, 69, 0.25);
}

.sign{
    color: #000;
}

.is{
    font-size: 50px;
}
